<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="comment.ejs"></script>
    <title>Document</title>
</head>
<body>
    <form action="" id = "commentForm">
        <input type="text" name = "name" placeholder="name" id = "name" required>
        <input type="text" name = "description" placeholder="description" id = "description" required>
        <input type="text" name="img" placeholder="img url" id="img">
        <button type="submit">create comment bt</button>
        </form>
</body>
</html>