<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" id="loginForm">
        <input type="text" placeholder="login" id="inputLogin">
        <input type="email" placeholder="email" id="inputEmail">
        <button type="submit" id="buttonSubmit">submit bt</button>
    </form>
</body>
</html>